:host ::ng-deep .tabview-custom {
    i, span {
        vertical-align: middle;
    }
}

:host ::ng-deep .tabspan-custom {

        margin: 0 .5rem;
 
}

:host ::ng-deep .p-button {
    margin-right: .25rem;
}

:host ::ng-deep .p-tabview p {
    line-height: 12.5;
    margin: 0;
}

:host ::ng-deep .dropdown-custom {
    width: 14rem;
  }